html {
    background-color: #eee;
}

main {
    width: 100%;
}

.keyboard {
    background-color: #333;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    width: 20%;
    height: 100px;
    border: 1px solid white;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

.key:hover {
    opacity: .5;
}
