#piano {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	height: 150px;
	margin: auto;
}

#piano .keys {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

#piano .key {
	box-sizing: border-box;
	width: 40px;
	height: 100%;
	background: white;
	display: inline-block;
	/* margin-right: -2px; */
}

#piano .white-key{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-right: 4px solid #dadada;
	border-bottom: 4px solid #dadada;
}

#piano .black-key {
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 84%, rgba(0,0,0,1) 100%);
	width: 30px;
	height: 80px;
	vertical-align: top;
	z-index: 999;
	margin-right: 11px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 4px solid #00000000;
	border-bottom: 4px solid #00000000;
}

#piano .white-keys {
	display: flex;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
}

#piano .black-keys {
	display: inline-block;
	position: absolute;
	width: 100%;
	left: 27px;
}

#piano .cluster {
	margin-right: 3.4%;
}

#piano .cluster:last-child {
    margin-right: 0;
}

#piano .white-key:hover {
	background: rgb(216, 216, 216);
}

#piano .white-key:active, #piano .white-key.active {
	/* background: linear-gradient(180deg, white, rgba(255, 0, 0, 0.384)); */
	background: rgb(0, 217, 255);
}

#piano .black-key:active, #piano .black-key.active {
	/* background: linear-gradient(180deg, #404040, #a5a5a5); */
	background: orange;
}

#piano .white-key.other-active {
	background: linear-gradient(180deg, white, rgba(0, 0, 0, 0.2));
}

#piano .black-key.active {
	background: linear-gradient(0deg, #404040, rgba(0, 25, 0, 1));
}