.keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 15px solid rgb(240, 4, 127);
    border-image: linear-gradient(90deg, rgba(240, 4, 127, 1) 0%, rgba(255, 0, 80, 1) 100%);
    border-image-slice: 1;
    background-color: #1A1A1A;
    z-index: 999;
    transition: al .3s ease-in-out;
    -webkit-transition: al .3s ease-in-out;
    -moz-transition: al .3s ease-in-out;
    -ms-transition: al .3s ease-in-out;
    -o-transition: al .3s ease-in-out;
}

#piano {
	position: relative;
	width: 99%;
	height: 100px;
	margin: auto;
}

#piano .keys {
	position: relative;
	top: -10%;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 5px 0px #000000;
}

#piano .key {
	box-sizing: border-box;
	width: 40px;
	height: 100%;
	background: white;
	display: inline-block;
	/* margin-right: -2px; */
}

#piano .white-key{
	border-left: 2px solid #E6E6E6;
	border-right: 2px solid #E6E6E6;
}

#piano .black-key {
	/* width: 30px; */
	/* margin-right: 14px; */
	height: 100%;
	vertical-align: top;
	z-index: 999;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: rgb(255, 255, 255);
	background: linear-gradient(180deg, #000000 0%, #3E3E3E 78%, #1C1C1C 85%, #000000 100%);
	float: left;
}

.black {
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 3%;
    width: 5%;
    height: 50px;
    background-color: #141414;
}

#piano .white-keys {
	display: flex;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
}

#piano .black-keys {
	position: absolute;
	width: 96%;
	height: 60%;
	left: 1.98%;
	overflow: hidden;
}

#piano .cluster {
	display: block;
	margin-right: 4.3%;
	height: 100%;
	float: left;
}

#piano .cluster:last-child {
    margin-right: 0;
}

#piano .cluster:nth-child(1) .black-key:nth-child(1){
    float: left;
}

#piano .cluster .black-key:last-child {
    margin: 0 !important;
}

#piano .white-key:hover {
	background: #E6E6E6;
}